*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
.page{
    overflow: hidden;
}

a, a:link, a:visited{
    outline: none;
    text-decoration: none;
    border: none;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menuItems li a:hover::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkgoldenrod;
}
section , span , p{
    margin: 0;
    padding: 0;
    outline: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    background-image: url(../images/coffee-beans-white-wooden-background-closeup.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.header-logo{
    font-size: 16px;
    align-items: center;
    letter-spacing: 2px;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}
ul{
    display: flex;
}
li{
    color: #fff;
    margin-left: 27px;
    font-size: 20px;
    font-weight: 500;
}

.mn-a{
    color: #fff;
}
.header-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
h1{
    font-size: 3.5rem;
    color: chocolate;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
}
.first-letter{
    font-size: 5.3rem;
}
h3{
    margin-top: 20px;
    font-size: 22px;
}
.btn-cofe{
    display: block;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: rgb(231, 155, 101);
    padding: 10px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.btn-cofe::after{
    content: "Buy";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.btn-cofe:hover::after{
    top: 0;
}
.about{
    margin-bottom: 150px;
}
.about-title{
    margin: 60px 0;
}
.about-title h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: chocolate;
    font-size: 30px;
    font-weight: 600;
}
.about-title h2::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: chocolate;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about-img{
    width: 40%;
    height: 500px;
}

.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text{
    width: 40%;
}
.about-text h4{
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
    color: chocolate;
    letter-spacing: 0.2rem;
    
}

.asteriks{
    color: chocolate;
    text-align: center;
    margin-bottom: 25px;
}
.about-text p{
    font-size: 15px;
    text-align: center;
    color: darkslategray;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
}
.portfolio-item{
    width: 25%;
    height: 200px;
    overflow: hidden;
    position: relative;
    
}
.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.overley{
    width: 100%;
    height: 100%;
    background-color: rgb(247, 165, 108);
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    font-size: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.portfolio-item:hover .overley{
    top: 0;

}
.portfolio-item:hover  img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.contact{
    padding: 10px 0;

}
.contact h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: chocolate;
    font-size: 30px;
    font-weight: 600;
}


.contact h2::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: chocolate;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.contact-content{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   
}
.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: orangered;
}

.contact-item p{
    font-size: 24px;
    line-height: 33px;
    color: darkslategray;
}

.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: chocolate;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0;
}

.footer h2::after{
    content: "";
    width: 40px;
    height: 3px;
    background-color: chocolate;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.footer{
    background-color: black;
}
.footer-copy{
    color: #fff;
    text-align: center;
    flex-basis: 50%;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    flex-direction: column;
}


.footer-social i{
    color: #fff;
    font-size: 30px;
    
    padding: 0 30px;
}

.footer-social:first-child{
    margin-left: 50px;
}


#menu-icon{
    font-size: 25px;
    color: #fff;
    display: none;
    margin-left: 20px;
}
@media screen and (max-width:800px){
    .header-menu ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: rgba(104, 45, 3, 0.781);
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
        -webkit-transition: max-height .5s;
        -moz-transition: max-height .5s;
        -ms-transition: max-height .5s;
        -o-transition: max-height .5s;
}

    .header-menu ul li{
        margin-right: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .header-menu ul li a{
        color: #fff;
    }
    .header-menu #menu-icon{
        display: block;
        cursor: pointer;
    }
}


@media  screen and (max-width:990px){
    .about-img{
        width: 100%;
        margin-bottom: 30px;
    }
    .about-text{
        width: 100%;
    }
}


@media  screen and (max-width:990px){
    .portfolio .portfolio-item{
        flex-basis: 50%;
    }
}

@media  screen and (max-width:580px){
    .portfolio .portfolio-item{
        flex-basis: 100%;
    }
}


@media  screen and (max-width:800px){
    .contact-content{
        flex-direction: column;
    }
    .contact-item{
        margin-top: 30px;
    }
    .contact-item p{
        width: 100%;
        text-align: center;
    }
}
